---
import Layout from "@layouts/Layout";
import CardList from "@components/CardList";

const cards = [
  {
    href: '/denver',
    title: "Denver",
  },
];
---

<Layout title="Gibble">
  <div class="my-4 mx-0 p-0.5 rounded-lg bg-zero bg-over bg-accent-gradiant">
    <div class="leading-7 p-4 rounded-md bg-white opacity-90">
      <p>Welcome to Gibble, where we help those with special diets enjoy dining out!</p>
      <p>Select a city below to find a restaurant.</p>
    </div>
  </div>
  <CardList cards={cards} />
</Layout>
