---
import Icon from 'src/components/Icon.astro';
import { categorySlugs } from 'src/utils';

interface Props {
  categories: string[];
  city: string;
}

const { categories, city } = Astro.props;

const fullCategories = categorySlugs(categories);

---
<section>
  <h2>Filter By Category</h2>
  <ul class="flex mb-8 gap-4 p-0" role="list">
    {fullCategories.map(({ category, slug }) => (
      <li class="link-card list-none flex p-0.5 bg-white bg-accent-gradiant bg-over rounded-lg bg-all shadow-md shadow-trans-black transition-[background-position] duration-300 cubic-bezier delay-[0]">
        <a class="w-full no-underline leading-6 py-2 px-4 rounded-md bg-white opacity-80 text-gray-900" href={`/${city}/${slug}/`}>{category}</a>
      </li>
    ))}
  </ul>
</section>

<style>
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}
</style>
